@keyframes wave {
  0% {
    top: calc((100% - 10px) / 2);
    left: calc((100% - 10px) / 2);
    width: 10px;
    height: 10px;
  }
  100% {
    top: calc((100% - 30px) / 2);
    left: calc((100% - 30px) / 2);
    width: 30px;
    height: 30px;
  }
}

.rrweb-click:after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  left: -5px;
  border-radius: 50%;
  border: 1px solid rgb(150, 150, 150);
  animation: wave 0.4s forwards;
}

.rrweb-canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}
